body.frontpage #block-anme-content {
    display: none;
}

/***css for webinar block**/
body.frontpage #block-anme-views-block-webinair-block-1 .threed-carousel {
    margin: 4% auto;
    width: 210px;
    height: 232px;
    position: relative;
    perspective: 1000px
}

body.frontpage #block-anme-views-block-webinair-block-1 .threed-carousel .item-list ul {
    width: 100%;
    height: 100%;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    transform-style: preserve-3d;
    animation: rotate 10s infinite linear;
}

body.frontpage #block-anme-views-block-webinair-block-1 .threed-carousel .item-list li {
    display: block;
    position: absolute;
    width: 90%;
    height: 50%px;
    left: 10px;
    top: 10px;
    background: black;
    overflow: hidden;
    border: solid 3px black;
}
body.frontpage #block-anme-views-block-webinair-block-1 .threed-carousel .item-list img {
    width: 100%;
    height: 100%;
}
body.frontpage #block-anme-views-block-webinair-block-1 .threed-carousel .item-list img:hover {
    -webkit-filter: grayscale(0);
    transform: scale(1.2, 1.2)
}
@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

body.frontpage #block-anme-views-block-webinair-block-1 .threed-carousel .item-list li:nth-child(1) { transform: rotateY(0deg) translateZ(288px); }
body.frontpage #block-anme-views-block-webinair-block-1 .threed-carousel .item-list li:nth-child(2) { transform: rotateY(40deg) translateZ(288px); }
body.frontpage #block-anme-views-block-webinair-block-1 .threed-carousel .item-list li:nth-child(3) { transform: rotateY(80deg) translateZ(288px); }
body.frontpage #block-anme-views-block-webinair-block-1 .threed-carousel .item-list li:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
body.frontpage #block-anme-views-block-webinair-block-1 .threed-carousel .item-list li:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }